.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.color-white{
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}